@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#light {
	@apply mt-8 mx-auto max-w-xl text-center;
}

#light .meter {
	@apply mb-8 h-12 flex bg-slate-300 rounded-lg overflow-hidden;
}

#light .meter > span {
	@apply bg-yellow-300 font-bold flex flex-col justify-center text-slate-900 whitespace-nowrap transition-all duration-1000 ease-in-out;
}

#light button {
	@apply mx-1 py-2 px-4 border-slate-400 text-slate-700 font-medium border-2 rounded-lg transition ease-in-out duration-150 outline-none hover:bg-slate-300;
}

#chart { 
	transform: translateZ(0); 
}

/* BEGIN: Glitch stuff */
/*a:hover {
	animation: glitch_hover 100ms linear;
}*/

.glow {
	box-shadow: 0 0 0.5rem rgb(160, 0, 210);
}

.glitch {
	animation: rot 5s linear infinite;
}

.glitch2 {
	filter: drop-shadow(0 0 1rem rgb(160, 0, 210));
}

.glitch2:hover {
	animation: glitch_hover 100ms linear;
}

@keyframes glitch_hover {
	0% {
		/*clip-path: polygon(10% 0, 100% 0, 80% 80%, 0 80%);*/
	}

	25% {
		filter: drop-shadow(0 0 1rem rgb(160, 160, 210));
	}
	
	50% {
		clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
	}

	75% {
		clip-path: polygon(0 0%, 30% 0, 100% 100%, 0 100%);
	}

	100% {
			
	}
}

@keyframes rot {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}
/* END: Glitch stuff */
